@import "tailwindcss";

@theme {
  --color-navy: #3F5377;    
  --color-ink: #0D1E2F;      
  --color-sun: #FECC00;       
  --color-paper: #FFFFFF;

  --font-sans:var(--font-inter), sans-serif;
  --font-display:var(--font-paytone),sans-serif;
}
